In [1]:
import numpy as np
import pandas as pd
import ast
pd.set_option('display.max_columns', None)

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
# Intenta usar un line terminator específico si los campos están correctamente encapsulados.
credits = pd.read_csv('tmdb_5000_credits.csv', encoding='utf-8', lineterminator='\n')

In [5]:
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
print(credits.shape)
credits.head(1)

(4803, 4)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies = movies.merge(credits, on='title')
movies.dropna(inplace=True)

In [8]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [10]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
import ast  # Importamos el módulo 'ast' que nos permitirá analizar y evaluar código Python en forma de árbol sintáctico abstracto.

def convert(text):
    L = []  # Creamos una lista vacía llamada 'L' para almacenar los valores extraídos del diccionario.
    for i in ast.literal_eval(text):  # Iteramos a través de los elementos obtenidos al evaluar el texto como código Python.
        L.append(i['name'])  # Extraemos el valor correspondiente a la clave 'name' en el diccionario 'i' y lo agregamos a la lista 'L'.
    return L  # Devolvemos la lista que contiene los valores 'name' extraídos de cada diccionario.

# Nota: Es importante destacar que este código asume que 'text' contiene una representación válida de una lista de diccionarios.
# La función 'ast.literal_eval' se utiliza para evaluar expresiones literales de Python de manera segura.
# Si 'text' no es una lista válida de diccionarios, este código podría generar excepciones.

In [12]:
# Se asume que 'movies' es un DataFrame que contiene información sobre películas, y 'genres' es una columna que contiene listas de diccionarios.
# La intención es aplicar la función 'convert' a cada elemento de la columna 'genres'.

# Se aplica la función 'convert' a cada elemento de la columna 'genres/keywords' utilizando el método 'apply'.
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

# Después de aplicar la función 'convert' a cada elemento de la columna 'genres/keywords',
# se espera que la columna 'genres' contenga listas de nombres extraídos de los diccionarios originales.

movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
import ast
ast.literal_eval("[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 878, 'name': 'Science Fiction'}]")

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [14]:
# Se define una función llamada 'convert3' que toma un argumento 'text'.
def convert3(text):
    L = []  # Se crea una lista vacía llamada 'L' para almacenar los valores extraídos del diccionario.
    counter = 0  # Se inicializa un contador en 0 para rastrear la cantidad de elementos procesados.

    # Se itera a través de los elementos obtenidos al evaluar el texto como código Python.
    for i in ast.literal_eval(text):
        if counter < 3:  # Se verifica si el contador es menor que 3.
            L.append(i['name'])  # Si el contador es menor que 3, se extrae el valor de la clave 'name' y se agrega a la lista 'L'.
            counter += 1  # Se incrementa el contador en 1 en cada iteración.

    return L  # Se devuelve la lista que contiene los valores 'name' extraídos de los primeros tres diccionarios.

In [15]:

movies['cast'] = movies['cast'].apply(convert3)
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [16]:
# La función lambda toma cada elemento 'x' de la columna 'cast' y toma solo los primeros 3 elementos de esa lista.
# Esto cortará la lista del elenco para incluir solo los primeros 3 elementos.
movies['cast'] = movies['cast'].apply(lambda x: x[:3])
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [17]:
# Definimos una función llamada 'fetch_director' que toma un argumento 'text'.
def fetch_director(text):
    L = []  # Creamos una lista vacía llamada 'L' para almacenar los nombres de los directores.
    # Iteramos a través de los elementos obtenidos al evaluar el texto como código Python.
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':  # Verificamos si el valor de la clave 'job' es igual a 'Director'.
            L.append(i['name'])  # Si es así, agregamos el valor de la clave 'name' a la lista 'L'.
    return L  # Devolvemos la lista que contiene los nombres de los directores.

# La función 'fetch_director' está diseñada para extraer los nombres de los directores de una lista de diccionarios.
# La

In [18]:
# Aplicamos la función 'fetch_director' a la columna 'crew' de la tabla 'movies' utilizando el método 'apply'.
# Esto transformará los datos en la columna 'crew' y extraerá los nombres de los directores.
movies['crew'] = movies['crew'].apply(fetch_director)
movies.sample(2)

,movie_id,title,overview,genres,keywords,cast,crew
781,2309,Inkheart,The adventures of a father and his young daugh...,"[Adventure, Family, Fantasy]","[book, fairy tale, eavesdropping, adventure, w...","[Brendan Fraser, Sienna Guillory, Andy Serkis]",[Iain Softley]
4384,13198,Wristcutters: A Love Story,"Zia, distraught over breaking up with his girl...","[Comedy, Drama, Fantasy, Romance]","[independent film, break-up, ex-boyfriend ex-g...","[Patrick Fugit, Shannyn Sossamon, Shea Whigham]",[Goran Dukic]

In [19]:
# Aplicamos una operación a la columna 'overview' de la tabla 'movies' utilizando el método 'apply'.
# Usamos una función lambda para dividir cada resumen en palabras individuales.
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies.sample(2)

,movie_id,title,overview,genres,keywords,cast,crew
3142,16614,Adventureland,"[In, the, summer, of, 1987,, a, college, gradu...",[Comedy],"[comedy, cheating on partner, amusement park, ...","[Jesse Eisenberg, Kristen Stewart, Martin Starr]",[Greg Mottola]
650,345,Eyes Wide Shut,"[After, Dr., Bill, Hartford's, wife,, Alice,, ...","[Mystery, Drama]","[life and death, sexual obsession, free love, ...","[Tom Cruise, Nicole Kidman, Madison Eginton]",[Stanley Kubrick]

In [20]:
# Definimos una función llamada 'collapse' que toma una lista 'L' como argumento.
def collapse(L):
    L1 = []  # Creamos una lista vacía llamada 'L1' para almacenar los elementos transformados.
    # Iteramos a través de los elementos en la lista 'L'.
    for i in L:
        L1.append(i.replace(" ", ""))  # Reemplazamos los espacios en blanco por cadenas vacías y agregamos el resultado a 'L1'.
    return L1  # Devolvemos la lista 'L1' que contiene los elementos de 'L' con los espacios eliminados.

# La función 'collapse' está diseñada para eliminar los espacios en blanco de los elementos en una lista 'L'.
# Devuelve una nueva lista con los elementos transformados.

In [21]:
movies['cast'] = movies['cast'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]

In [22]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [23]:
new = movies.drop(columns=['overview', 'genres', 'keywords', 'cast', 'crew'])
new.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [24]:
# La función lambda toma cada lista 'x' en la columna 'tags' y utiliza el método 'join' para unir los elementos de la lista con espacios.
# Esto transformará la lista de etiquetas en una cadena de texto única separada por espacios.
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

Creacion modelo ML

In [27]:

# Importamos la clase 'CountVectorizer' del módulo 'feature_extraction.text' de la librería Scikit-learn.
from sklearn.feature_extraction.text import CountVectorizer

# Creamos una instancia de 'CountVectorizer' con ciertos parámetros.
# 'max_features' limita el número máximo de características (palabras) consideradas en el vectorizador.
# 'stop_words' especifica que se deben ignorar las palabras en inglés comunes (stop words) durante el proceso de vectorización.
cv = CountVectorizer(max_features=5000, stop_words='english')

In [28]:
# Utilizamos el objeto 'cv' (CountVectorizer) que definiste previamente para transformar la columna 'tags' en una matriz de conteo de palabras.
# El método 'fit_transform' realiza el proceso de transformación y devuelve una matriz dispersa (sparse matrix).
vector = cv.fit_transform(new['tags']).toarray()

# Después de esta línea, 'vector' contendrá la representación numérica de las etiquetas en forma de una matriz de conteo de palabras.
# Cada fila representa un registro (documento) en la tabla 'new', y cada columna representa una palabra única en el conjunto de datos.

In [29]:
vector.shape

(1494, 5000)

In [30]:
# Importamos la función 'cosine_similarity' del módulo 'metrics.pairwise' de la librería Scikit-learn.
from sklearn.metrics.pairwise import cosine_similarity

# Utilizamos la función 'cosine_similarity' para calcular la similitud coseno entre las filas de la matriz 'vector'.
# La matriz 'vector' contiene la representación numérica de las etiquetas en forma de matriz de conteo de palabras.

# La función 'cosine_similarity' calcula la similitud coseno entre cada par de filas (registros) en la matriz 'vector'.
similarity = cosine_similarity(vector)

# Después de esta línea, 'similarity' contendrá una matriz que representa la similitud coseno entre todos los pares de registros.
# Cada valor en la matriz indica qué tan similares son dos registros en función de sus etiquetas convertidas en conteo de palabras.

similarity

array([[1.        , 0.08134892, 0.05423261, ..., 0.        , 0.05504819,
        0.02469324],
       [0.08134892, 1.        , 0.05882353, ..., 0.04428074, 0.        ,
        0.        ],
       [0.05423261, 0.05882353, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.04428074, 0.        , ..., 1.        , 0.        ,
        0.04032389],
       [0.05504819, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.02469324, 0.        , 0.        , ..., 0.04032389, 0.        ,
        1.        ]])

In [31]:
new[new['title'] == "The Lego Movie"].index[0]  # Esto se supone que es una comparación para localizar una película en el DataFrame.

744

In [32]:
# Supongamos que 'new' es una tabla de datos que contiene información sobre películas y 'similarity' es una matriz de similitud calculada previamente.

# Definimos una función llamada 'recommend' que toma el nombre de una película como argumento.
def recommend(movie):
    # Buscamos el índice de la película en la tabla 'new' utilizando su título.
    index = new[new['title'] == movie].index[0]

    # Calculamos las distancias entre la película dada y todas las demás películas utilizando la matriz 'similarity'.
    # Las distancias se almacenan en la lista 'distances' junto con los índices de las películas correspondientes.
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    # Iteramos sobre las primeras 5 películas más similares (excluyendo la película dada).
    for i in distances[1:6]:
        # Imprimimos el título de las películas recomendadas basadas en la similitud.
        print(new.iloc[i[0]].title)

# La función 'recommend' muestra los títulos de las 5 películas más similares a la película dada como argumento.
# La similitud se determina según la matriz de similitud previamente calculada.

In [33]:
recommend("Spider-Man 3")

Spider-Man 2
Spider-Man
The Amazing Spider-Man 2
The Amazing Spider-Man
Ong Bak 2

In [35]:
import pickle
# Importamos el módulo 'pickle', que se utiliza para serializar (guardar) y deserializar (cargar) objetos de Python.

# Guardamos el DataFrame 'new' en un archivo llamado 'movie_list.pkl' utilizando la función 'dump' de 'pickle'.
# El modo 'wb' se usa para escribir en modo binario.
pickle.dump(new, open('movie_list.pkl', 'wb'))

# Guardamos la matriz 'similarity' en un archivo llamado 'similarity.pkl' utilizando la función 'dump' de 'pickle'.
# El modo 'wb' se usa para escribir en modo binario.
pickle.dump(similarity, open('similarity.pkl', 'wb'))

# Estos pasos guardan el DataFrame 'new' y la matriz 'similarity' en archivos pkl (archivos de pickle).
# Esto permite que puedas cargar estos objetos posteriormente sin necesidad de volver a calcularlos.

In [36]:
movies = pickle.load(open('movie_list.pkl', 'rb'))
# Aquí cargamos el DataFrame 'movies' desde un archivo pkl en modo binario 'rb' (read binary).

In [37]:
movies
# Esta línea probablemente imprima o muestre el DataFrame 'movies' que se acaba de cargar desde el archivo 'movie_list.pkl'.

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4779,2292,Clerks,Convenience and video store clerks Dante and R...
4787,255266,Dry Spell,Sasha tries to get her soon-to-be ex husband K...
4797,157185,Tin Can Man,Recently dumped by his girlfirend for another ...
4802,14337,Primer,Friends/fledgling entrepreneurs invent a devic...
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...